
.pageContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .formContact{
    display: flex;
    flex-direction: column;
    font-family: 'Gayathri';
    color: #B24048;
    font-size: 15px;
    width: 60%;
  }
  
  .inputContact{
    display: flex;
    width: 100%;
  }
  
  .inputButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 36px;
    border-radius: 15px;
    background-color: #FF9861;
    opacity: 0.5;
    transition:all .5s ease-in-out;
    color: #B24048;
    margin: 2%;
    margin-bottom: 3%;
  }

  .whatsapp-button{
    width: 50px;
    margin: 20px;
  }
  
  .text-contact{
    color: #B24048;
    font-family: 'Gayathri';
    margin-top: 20px;

  }