
.footer-section{
    position: relative;
  }
  
  .elements-footer{
    display: flex;
    justify-content: space-between;
  }
  
  .text-wrights{
    font-family: 'Gayathri';
    color: #B24048;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
  }
  
  .container-icons-footer{
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
    width: 12%;
  }
  
  .icons-footer{
    width: 30px;
    margin: 5%;
  }
  @media only screen and (max-width: 900px) and (min-width: 600px){
    .footer-section{
      display: none;
    }
    
  }
  @media only screen and (max-width: 600px){  

    .footer-section{
      display: none;
    }
    }