@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gayathri:wght@100;400;700&display=swap');

body{
  background-color: #FFF0E1;
}

.text-pages{
  font-family: 'Abril Fatface';
  color: #B24048;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingHome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) and (min-width: 600px){

body{
  margin-bottom: 15%;
}
}

@media only screen and (max-width: 600px){
  body{
    margin-bottom: 15%;
  }
}